<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>abletonLiveModeKey</key>
	<false/>
	<key>autoLoginKey</key>
	<true/>
	<key>chordTypesKey</key>
	<array>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
	</array>
	<key>chordsLabelsKey</key>
	<array>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
	</array>
	<key>chordsNotesKey</key>
	<array>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>63</integer>
		<integer>64</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>68</integer>
		<integer>69</integer>
		<integer>70</integer>
		<integer>71</integer>
		<integer>72</integer>
		<integer>73</integer>
		<integer>74</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>78</integer>
		<integer>79</integer>
		<integer>80</integer>
		<integer>81</integer>
		<integer>82</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
		<integer>86</integer>
		<integer>87</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>93</integer>
		<integer>94</integer>
		<integer>95</integer>
		<integer>96</integer>
		<integer>97</integer>
		<integer>98</integer>
		<integer>99</integer>
		<integer>100</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>108</integer>
		<integer>109</integer>
		<integer>110</integer>
		<integer>111</integer>
		<integer>112</integer>
		<integer>113</integer>
		<integer>114</integer>
		<integer>115</integer>
		<integer>116</integer>
		<integer>117</integer>
		<integer>118</integer>
		<integer>119</integer>
		<integer>120</integer>
		<integer>121</integer>
		<integer>122</integer>
		<integer>123</integer>
		<integer>124</integer>
		<integer>125</integer>
		<integer>126</integer>
		<integer>127</integer>
		<integer>128</integer>
		<integer>129</integer>
		<integer>130</integer>
		<integer>131</integer>
		<integer>132</integer>
		<integer>133</integer>
		<integer>134</integer>
		<integer>135</integer>
		<integer>136</integer>
		<integer>137</integer>
		<integer>138</integer>
		<integer>139</integer>
		<integer>140</integer>
	</array>
	<key>consoleTheme</key>
	<string>Red Lava</string>
	<key>consoleWindowShowsUp</key>
	<true/>
	<key>controlChangeInvForTriggersKey</key>
	<array>
		<false/>
		<false/>
	</array>
	<key>controlChangeNumberForTriggersKey</key>
	<array>
		<integer>74</integer>
		<integer>1</integer>
	</array>
	<key>controllerMode</key>
	<string>XY</string>
	<key>defaultCCValueForTriggersKey</key>
	<array>
		<integer>64</integer>
		<integer>0</integer>
	</array>
	<key>drumsLabelsKey</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>drumsNotesKey</key>
	<array>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>48</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>63</integer>
		<integer>64</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>68</integer>
		<integer>69</integer>
		<integer>70</integer>
		<integer>71</integer>
		<integer>72</integer>
		<integer>73</integer>
		<integer>74</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>78</integer>
		<integer>79</integer>
		<integer>80</integer>
		<integer>81</integer>
		<integer>82</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
		<integer>86</integer>
		<integer>87</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>93</integer>
		<integer>94</integer>
		<integer>95</integer>
		<integer>96</integer>
		<integer>97</integer>
		<integer>98</integer>
		<integer>99</integer>
		<integer>100</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>108</integer>
		<integer>109</integer>
		<integer>110</integer>
		<integer>111</integer>
		<integer>112</integer>
		<integer>113</integer>
		<integer>114</integer>
		<integer>115</integer>
		<integer>116</integer>
	</array>
	<key>enableFixedVelKey</key>
	<false/>
	<key>enableJogWheel</key>
	<true/>
	<key>enableMPEModeKey</key>
	<false/>
	<key>enableManagerToMembersKey</key>
	<true/>
	<key>enableMasterFader</key>
	<true/>
	<key>enableOverlapsKey</key>
	<false/>
	<key>enableSends</key>
	<true/>
	<key>enableTriggerControllersKey</key>
	<array>
		<true/>
		<true/>
	</array>
	<key>fiveFingersTapEnabledKey</key>
	<true/>
	<key>fourteenBitCCKey</key>
	<false/>
	<key>hotKeyEnabledKey</key>
	<false/>
	<key>hotKeyKey</key>
	<integer>50</integer>
	<key>hotKeyModifiersKey</key>
	<integer>4608</integer>
	<key>hotKeyStringKey</key>
	<string>⌃⇧~</string>
	<key>inversionsKey</key>
	<array>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
		<string>Root</string>
	</array>
	<key>keysLabelsKey</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>keysNotesKey</key>
	<array>
		<integer>84</integer>
		<integer>85</integer>
		<integer>86</integer>
		<integer>87</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>93</integer>
		<integer>94</integer>
		<integer>95</integer>
		<integer>72</integer>
		<integer>73</integer>
		<integer>74</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>78</integer>
		<integer>79</integer>
		<integer>80</integer>
		<integer>81</integer>
		<integer>82</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
		<integer>86</integer>
		<integer>87</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>93</integer>
		<integer>94</integer>
		<integer>95</integer>
		<integer>96</integer>
		<integer>97</integer>
		<integer>98</integer>
		<integer>99</integer>
		<integer>100</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>108</integer>
		<integer>109</integer>
		<integer>110</integer>
		<integer>111</integer>
		<integer>112</integer>
		<integer>113</integer>
		<integer>114</integer>
		<integer>115</integer>
		<integer>116</integer>
		<integer>117</integer>
		<integer>118</integer>
		<integer>119</integer>
		<integer>120</integer>
		<integer>121</integer>
		<integer>122</integer>
		<integer>123</integer>
		<integer>124</integer>
		<integer>125</integer>
		<integer>126</integer>
		<integer>127</integer>
		<integer>128</integer>
		<integer>129</integer>
		<integer>130</integer>
		<integer>131</integer>
		<integer>132</integer>
		<integer>133</integer>
		<integer>134</integer>
		<integer>135</integer>
		<integer>136</integer>
		<integer>137</integer>
		<integer>138</integer>
		<integer>139</integer>
		<integer>140</integer>
	</array>
	<key>lockButtonIsOn</key>
	<false/>
	<key>midiChannelKey</key>
	<integer>1</integer>
	<key>midiKeysEnabled</key>
	<true/>
	<key>midiKeysNotes</key>
	<array>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>48</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
	</array>
	<key>midiKeysVelocity</key>
	<integer>65</integer>
	<key>pitchBendForTriggersKey</key>
	<array>
		<true/>
		<false/>
	</array>
	<key>pitchBendKey</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>playAndPause</key>
	<false/>
	<key>powerTapEnabledKey</key>
	<true/>
	<key>pressureForTriggersKey</key>
	<array>
		<false/>
		<false/>
	</array>
	<key>relativePitchBendCenterKey</key>
	<false/>
	<key>sameFourFiveFingersKey</key>
	<true/>
	<key>scaleKey</key>
	<string>Major</string>
	<key>secondaryDaw</key>
	<string>Live</string>
	<key>separatedThreeFingersKey</key>
	<false/>
	<key>sliderBankKey</key>
	<string>Bank A</string>
	<key>sliderControlChangeInvKey</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>sliderFormatKey</key>
	<array>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
	</array>
	<key>sliderGridKey</key>
	<string>4</string>
	<key>sliderPressureKey</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>stopMode</key>
	<false/>
	<key>surroundDawKey</key>
	<string>Logic Pro</string>
	<key>surroundModeKey</key>
	<false/>
	<key>tonicKey</key>
	<integer>48</integer>
	<key>trackpadIsLockedKey</key>
	<false/>
	<key>trackpadTurnsOffKey</key>
	<false/>
	<key>trackpadWindowShowsUpKey</key>
	<true/>
	<key>triggerBankKey</key>
	<string>Bank A</string>
	<key>triggerMenuDisplayKey</key>
	<string>Show Notes Only</string>
	<key>triggerPadsGridKey</key>
	<string>9</string>
	<key>triggerTypeKey</key>
	<string>Keys</string>
	<key>unlockCursorKey</key>
	<false/>
	<key>useShiftKeyKey</key>
	<false/>
	<key>windowsOpacity</key>
	<string>30%</string>
	<key>xyPadStatusKey</key>
	<array>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
	</array>
	<key>xyPadViewKey</key>
	<string>View 6</string>
	<key>xySliderControlChangeInvKey</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>xySliderControllerNumbersKey</key>
	<array>
		<integer>11</integer>
		<integer>1</integer>
		<integer>64</integer>
		<integer>16</integer>
		<integer>17</integer>
		<integer>64</integer>
		<integer>18</integer>
		<integer>19</integer>
		<integer>66</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>16</integer>
		<integer>17</integer>
		<integer>18</integer>
		<integer>19</integer>
		<integer>20</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>23</integer>
		<integer>24</integer>
		<integer>25</integer>
		<integer>26</integer>
		<integer>27</integer>
		<integer>28</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>12</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
	</array>
	<key>xySliderDefaultControllerValueStatusKey</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>xySliderFormatsKey</key>
	<array>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
		<string>Regular</string>
	</array>
	<key>xySliderLabelsKey</key>
	<array>
		<string>ONE</string>
		<string>TWO</string>
		<string>THREE</string>
		<string>XY4</string>
		<string>XY5</string>
		<string>S6</string>
		<string>XY7</string>
		<string>S8</string>
		<string>S9</string>
		<string>S10</string>
		<string>XY11</string>
		<string>XY12</string>
		<string>S13</string>
		<string>S14</string>
		<string>XY15</string>
		<string>XY16</string>
		<string>XY17</string>
		<string>XY18</string>
	</array>
	<key>xySliderPitchBendKey</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>xySliderPressureKey</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
</dict>
</plist>
